@use "./partials/variables" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Oleo+Script:wght@400;700&display=swap");

@import "~bootstrap/scss/bootstrap";

:root {
    --color-primary: rgb(185, 20, 80);
    --color-light-primary: rgb(183, 44, 92);
}

.style-text-color {
    color: var(--color-primary);
}

.style-background-color {
    background-color: var(--color-primary);
}

.hype-text-shadow {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

/************MAIN *************/
main {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    .main-container {
        padding: 150px 0 50px 0;

        h1 {
            font-family: "Jersey 15", sans-serif;
            color: var(--color-light-primary);
        }

        .table-title-container {
            background-color: rgb(36, 36, 36);

            h2 {
                font-family: "Jersey 15", sans-serif;
                font-size: 5rem;
                font-weight: bold;
                text-align: center;
                color: rgb(218, 101, 6);
                animation: scroll 20s linear infinite;

                @keyframes scroll {
                    0% {
                        left: -100%;
                    }
                    10% {
                        left: 0;
                    }
                    90% {
                        left: 0;
                    }
                    100% {
                        left: 100%;
                    }
                }
            }
        }

        table {
            font-family: "Jersey 15", sans-serif;
            font-size: 1.35rem;

            .cancelled td {
                color: red;
            }

            .on-time td {
                color: rgb(51, 158, 51) !important;
            }

            .late td {
                color: orange;
            }
        }
    }
}

/**
* Variables
$text-primary-color:
$background-secondary-color
$background-primary-color: 
$shadow-primary-color: 
*/
.active {
    font-weight: bold;
    font-size: 1.3rem;
}

header {
    height: 75px;
    background-color: $background-primary-color;
    box-shadow: 2px 2px 5px $shadow-primary-color;

    .active-color {
        background-color: $background-secondary-color !important;
        //box-shadow: 2px 2px 5px black;
    }

    .window-movement {
        transform: translate(-50%, 10px) !important;
        transition: transform 0.5s;
        box-shadow: 2px 2px 2px $shadow-primary-color;
    }

    .border-opened-menu {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #hype-custom-nav {
        position: fixed;
        top: 0;
        z-index: 1000;
        height: 75px;
        left: 50%;
        transform: translateX(-50%);
        transition: transform 0.3s ease-out;
        background-color: inherit;
        color: $text-primary-color !important;

        .img-container {
            width: 7%;
            min-width: 90px;
        }

        .user-account {
            color: white;
            background-color: inherit;

            .icon-container {
                width: 40px;
                height: 57.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: calc((75px - 40px) / 2);
            }

            .bar-input {
                top: 100%;
                left: 0%;
                background-color: inherit;
                box-shadow: 2px 2px 2px $shadow-primary-color;
            }

            .search-bar-input {
                height: 70px;
            }
        }

        button {
            &:hover {
                color: white;
            }
        }
    }
}

/************************  FOOTER *******************************/
footer {
    padding: 40px 0;
    background-color: var(--color-light-primary);
    ul {
        li {
            display: inline-block;
            padding: 10px 10px 10px 0;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    text-decoration: underline;
                    color: black;
                }
            }
        }
    }

    .social-icons {
        font-size: 2rem;
    }
}
